<header>
  <div class="banner"></div>
</header>

<main>
  <a *ngFor="let i of images" href="https://dummyimage.com/"><img [src]="i"></a>

  <a href="https://dummyimage.com/"><img src="/images/green.png"></a>


  <a href="https://commons.wikimedia.org/wiki/File:Font_Awesome_5_brands_angular.svg">
    <img src="/assets/logo-angular-svgrepo-com.svg" height="90">
  </a>
</main>

<footer>
  <ul>
    <li>
      The large black image (banner) is included as background image
    </li>
    <li>
      The blue, red and green images are included with image tags
    </li>
    <li>
      also a svg icon is included
    </li>
  </ul>
</footer>
